.chat {
	width: 100%;
	height: 100%;
	background: hsla(180, 0%, 50%, 0.8);
	background-image: url(../../assets/images/chatBG.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
	align-items: center;
	&__header {
		background-color: #f8f6ff;
		height: 80px;
		width: 100%;
		display: flex;
		align-items: center;
		border-left: 1px solid #c9c9c9;
		box-shadow: 8px 5px 10px 2px rgba($color: black, $alpha: 0.1);
		padding-left: 20px;
		&LeftPart {
			display: flex;
			flex: 0.1;
			justify-content: space-around;
			align-items: center;
			> .MuiSvgIcon-root {
				font-size: 20px;
				cursor: pointer;
				display: none;
			}
		}
		&RightPart {
			flex: 0.7;
		}
	}
	&__contactAvatar {
		width: 60px;
		height: 60px;
		background-color: rgba(168, 168, 168, 0.699);
		border-radius: 50%;
		margin-right: 20px;

		display: grid;
		place-items: center;
		cursor: pointer;
		.MuiSvgIcon-root {
			font-size: 55px;
			color: whitesmoke;
		}
	}
	&__content {
		width: 100%;
		flex: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		overflow: hidden;
		&Part {
			width: 100%;
			height: 100%;

			flex: 0.9;
			overflow-y: auto;
			.msg {
				width: 100%;
				height: auto;
				// display: block;
				overflow: hidden;

				.bubble {
					float: left;
					max-width: 75%;

					display: flex;
					flex-direction: row;
					align-items: center;

					background: #ebebeb;
					border-radius: 5px;
					position: relative;
					margin: 10px 0 3px 25px;
					box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);

					&.alt {
						margin: 10px 25px 3px 0px;
						background: #dcf8c6;
						float: right;
					}
					&.follow {
						margin: 2px 0 3px 25px;
					}

					&.altfollow {
						margin: 2px 25px 3px 0px;
						background: #dcf8c6;
						float: right;
					}
					.txt {
						padding: 8px 0 8px 0;
						width: 100%;
						display: flex;
						align-items: center;
						flex-direction: column;
						&__wrap {
							width: 100%;

							display: flex;
							align-items: center;
							justify-content: space-between;
						}
						.name {
							font-weight: 600;
							font-size: 14px;

							padding: 0 0 0 15px;
							margin: 0 20px 4px 0;
							color: #3498db;

							span {
								font-weight: normal;
								color: #b3b3b3;
								overflow: hidden;
							}
							&.alt {
								color: #2ecc51;
							}
						}
						.message {
							font-size: 14px;

							padding: 0 15px 0 15px;
							margin: auto;
							margin-top: 5px;
							color: #2b2b2b;
						}
						.timestamp {
							font-size: 11px;
							padding: 0 15px 0 0;
							text-transform: uppercase;
							color: #999;
						}
					}
					.bubble-arrow {
						position: absolute;
						float: left;
						left: -11px;
						top: 0px;
						&.alt {
							bottom: 20px;
							left: auto;
							right: 4px;
							float: right;
						}
					}
					.bubble-arrow:after {
						content: '';
						position: absolute;
						border-top: 15px solid #ebebeb;
						border-left: 15px solid transparent;
						border-radius: 4px 0 0 0px;
						width: 0;
						height: 0;
						//box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
						//looks like I can't give a shadow to the arrows
					}
					.bubble-arrow.alt:after {
						border-top: 15px solid #dcf8c6;
						transform: scaleX(-1);
					}
				}
			}
		}
		&Input {
			display: flex;
			align-items: center;
			width: 95%;
			flex: 0.1;
			height: 50px;
			position: absolute;
			bottom: 5px;
			border-radius: 15px;
			margin-bottom: 10px;

			box-sizing: border-box;
			box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
			background-color: white;
			> button {
				background-color: transparent;
				border: none;
				outline: none;
				position: absolute;
				right: 20px;
				> .MuiSvgIcon-root {
					color: #0088cc;
				}
			}
			.chat__input {
				width: 100%;
				height: 100%;
				flex: 0.95;
				border: none;
				padding-left: 5px;
				outline: none;
				border-radius: 15px;
				padding-left: 15px;
			}
		}
	}
}
@media screen and (max-width: 730px) {
	.chat {
		&__header {
			// display: none;
			padding-left: 0px;
			&LeftPart {
				flex: 0.3;
				.buttonShow {
					display: block;
				}
			}
		}
		// .show {
		// 	display: flex;
		// }
	}
}
