.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	&__header {
		background-color: #f8f6ff;
		height: 80px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 15px;
		padding-right: 15px;
	}
	&__contactInput {
		width: 100%;
		display: flex;
		align-items: center;
		> form input {
			width: 100%;
			outline: none;
			border: none;
			padding: 10px;
		}
		> form button {
			display: none;
		}
	}
	&__selfInfo {
		min-width: 150px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		cursor: pointer;
		> p {
			margin-top: 10px;
		}
		> img {
			width: 60px;
			height: 60px;
			object-fit: cover;
			top: 0;
			left: 0;
			border-radius: 50%;
		}
		.MuiSvgIcon-root {
			font-size: 55px;
			color: whitesmoke;
		}
	}
	&__selfOptions {
		flex: 0.35;
		display: flex;
		align-items: center;
		justify-content: space-around;
		color: black;

		.settingsIcon {
			transition: 0.4s;
			&:hover {
				transform: rotate(-50deg);
			}
		}
	}
	&__content {
		width: 100%;

		flex: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
		background: #12c2e9;
		background: -webkit-linear-gradient(to bottom, #9aecff, #7bc1d1, #c990e6);
		background: linear-gradient(to bottom, #9aecff, #7bc1d1, #c990e6);
		padding-bottom: 20px;
		overflow-y: scroll;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			width: 7px;
		}
		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		}
		&::-webkit-scrollbar-thumb {
			background-color: rgb(126, 126, 126);
			outline: 1px solid white;
			border-radius: 50px;
			&:hover {
				width: 10px;
			}
		}
	}
}
