.register {
	// width: 100%;

	height: 100%;
	background-image: url(../../assets/images/annie-spratt-At3-0ITk3Po-unsplash.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__title {
		width: 100%;
		top: 20px;

		margin: auto;
		position: absolute;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		color: #ffffff;
		letter-spacing: 1.185em;
		user-select: none;
	}
	&__content {
		position: absolute;
		width: 645px;
		height: 575px;
		background: rgba(233, 233, 233, 0.4);
		border: 1px solid rgba(230, 230, 230, 0.5);
		box-sizing: border-box;
		backdrop-filter: blur(15px);
		box-shadow: 0px 0px 2px 2px rgba($color: #000000, $alpha: 0.1);
		border-radius: 3px;
		display: flex;
		align-items: center;
		flex-direction: column;

		> h3 {
			color: white;
			font-family: Andika, Arial;
			font-style: normal;
			font-weight: normal;
			text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
			font-size: 72px;
			line-height: 116px;
			user-select: none;
		}
	}
	&__footer {
		position: absolute;
		bottom: 25px;
		left: 75px;
		> a {
			text-decoration: none;
			> h3 {
				cursor: pointer;
				font-size: 15px;
				font-weight: bold;
				line-height: 34px;
				letter-spacing: 0.035em;
				color: #0b5ed7;
				transition: 0.4s;
				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
	&__form {
		> button {
			width: 100%;
			margin-top: 20px;
		}
		p {
			font-size: 14px;
			margin-top: 5px;
			margin-bottom: -12px;
		}
	}
	.register__input {
		width: 500px !important;
		background: #fafafa;
		box-shadow: 5px 4px 4px 5px rgba(201, 201, 201, 0.25);
		margin-top: 20px;
		border-radius: 8px;
		line-height: 35px;
		&:hover {
			background-color: #e3f7ff;
		}
	}
	.register__checkbox {
		margin-top: 20px;
	}
}
@media screen and (max-width: 680px) {
	.register {
		&__content {
			width: 100%;

			padding: 20px;
		}

		&__form {
			width: 100% !important;
		}
		.register__input {
			width: 100% !important;
		}
		.register__input {
			margin-top: 20px;
		}
	}
}
